.venv/
.env
__pycache__/
*.pyc
.coverage

# 데이터 파이프라인 실행 결과 파일 제외
*_data.csv
*_data.parquet

광주_1반_이슬.py
data/Python_Practice2_Data.json
data/Python_Practice1_Data.json
error_records.json
valid_records.csv